# Python
__pycache__/
*.pyc

# data files
*.h5
*.nc
*.dat


# output files
quantum-eigen/outputs/
quantum-eigen/hello-output.txt
quantum-eigen/job.slurm
assignments/assignment_2/quantum-eigen/outputs/
assignments/assignment_4/src/outputs/
